body {
  background-color: #f0f0f0;
}
.details {
  padding-top: 3%;
  max-width: 90%;
  margin: 2%;
}

@media screen and (max-width: 600px) {
  .details {
    padding-top: 13%;
  }
}
.size {
  width: 92%;
  margin: 2% 3% 2% 3%;
}
@media screen and (max-width: 600px) {
  .size {
    width: 90%;
    margin: 5%;
  }
}
.navbar {
  max-height: 8%;
}
.img-link {
  height: 2%;
  width: 2%;
  padding-right: 10px;
}

#card {
  width: 10rem;
}
.heading {
  font-weight: bold;
  font-size: 22px;
}
html {
  font-family: "Montserrat";
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 100%;
}
